.col-xs-12
  .checkout-button.vertical-center{ class: ("checkout-button-active" if shopper.ready_for_checkout) }
    = link_to "Confirm Checkout", confirm_shopper_checkout_path(shopper), method: :put, class: "text-center"