@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "font";
@import "layout";
@import "forms";
@import "header";
@import "helpers";
@import "items";
@import "organizations";
@import "sales";
@import "sessions";
@import "users";
@import "website_pages";

html, body {
  font-family: 'Avenir';
}
