@font-face {
  font-family: 'Avenir';
  src: 'Avenir-Book.ttf';
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Light';
  src: 'Avenir-Light.ttf';
  font-weight: normal;
  font-style: normal;
}