nav.navbar.header {
  border: none;
  background-color: white;

  .container {
    padding: 0;
  }
  
  .navbar-header  {

    float: left;
    @media #{$small-screen} { margin-left: 15px; }
    margin-left: 0px;

    > a {
      color: black;
    }
  }

  .navbar-nav {

    margin-top: 3.5px;
    > li > a {
      color: black;
      border-bottom: 1px solid;
      border-color: transparent;
      transition: border-color .25s;

      &:hover {
        border-color: black;
        background-color: white;
      }
    }
  }
}

.navbar-fixed-bottom {

  height: 50px;

  .container {

    height: 100%;

    .bottom-nav {
      list-style-type: none;
      width: 100%;
      height: 100%;
      -webkit-padding-start: 0;

      li {
        width: 50%;
        height: 100%;
        float: left;
        display: table;

        a {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: black;
          font-size: 20px;
        }
      }

      li.shopper-header-cart {
        transition: background-color 1.4s, color 1.4s;
      }

      li.shopper-header-cart-active {
        background-color: #417505;
        a { color: white; }
      }
    }
  }
}

// Disable Collapse
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: 0px !important;
}

.navbar-right{
  float: right !important;
}