nav.navbar.navbar-default.header {
  border: none;
  background-color: transparent;

  .container-fluid {
    padding: 0;
  }
  
  .navbar-header  {

    float: left;

    > a {
      color: black;
    }
  }

  .navbar-nav {

    margin-top: 3.5px;
    > li > a {
      color: black;
      border-bottom: 1px solid;
      border-color: transparent;
      transition: border-color .25s;

      &:hover {
        border-color: black;
      }
    }
  }
}

// Disable Collapse
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}