.item-block {
  display: block;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  color: white;
  font-size: 20px;
  background-color: $gray;
  overflow-y: hidden;
  transition: height .25s;

  .item-block-top {
    height: 100%;
    max-height: 70px;
    padding: 20px;
  }

  .item-block-middle {
    height: 50px;
    width: 100%;
    .item-block-increment {
      height: 100%;
      padding: 0;
      font-size: 32px;
      .text-center {
        display: block;
        width: 100%;
      }
    }

    .plus {
      background-color: #747474;
      padding-right: 15px;
    }

    .minus {
      background-color: #C0C0C0;
      padding-left: 15px;
    }
  }

  .item-block-bottom {
    height: 50px;
    background-color: #7ED321;

    .text-center {
        display: block;
        width: 100%;
      }
  }
}

.item-block-active {
  height: 170px;
}

.no-results {
  text-align: center;
  color: $gray;
}
