// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.organizations.show {

  ul {
    padding-left: 0;

    li {
      list-style-type: none;
    }
  }

  .organization-list {

    .row {
      margin-bottom: 10px;
      @media #{$small-screen} { margin-bottom: 0 }

      .col-sm-6.gray {
        @media #{$small-screen} { text-align: right }
      }
    }
  }

}