.cart {
  padding-bottom: 70px;
}

.cart-shopper-items {
  margin-top: 30px;
}

.cart-price {
  margin-top: 30px;
  font-size: 32px;
}

.edit-cart {
  margin-top: 20px
}

.checkout {
  margin-top: 10px;
}

.edit-cart, .checkout {
  height: 50px;
  font-size: 20px;
}

.edit-button, .checkout-button {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #E5E5E5;

  .text-center {
    display: block;
    width: 100%;
    color: white;
  }
}

.edit-button-active {
  background-color: $gray;
}

.checkout-button-active {
  background-color: #7ED321;
}

body.shoppers.checkout {
  width: 100%;
  height: 100%;
  padding: 0;

  .shopper-checkout-code-block {
    width: 100%;
    text-align: center;

    .shopper-checkout-code {
      font-size: 72px;
    }

    .shopper-checkout-small-text{
      font-size: 14px;
    }

    .btn {
      color: white;
      background-color: $gray;
      border-radius: 0;
      margin-top: 10px;
    }
  }
}

.shoppers.index {
  .checked-out-shoppers {
    margin-top: 20px;
    font-size: 20px;
  }
}