.website_pages.home {

  background: image-url("cover_alt.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  nav.navbar.navbar-default.header {
    margin-bottom: 0;

    .navbar-header > a {
      color: white;
    }

    .navbar-nav > li > a {
      color: white;

      &:hover {
        border-color: white;
      }
    }
  }

  .jumbotron {

    background-color: transparent;
    height: calc(100% - 57px);
    min-height: calc(100vh - 57px);
    margin: 0;
    padding: 0;

    .container {

      margin-top: 0;

      h1 {
        color: white;
      }

      a.btn {
        color: white;
        border: 2px solid white;
        background-color: transparent;
        border-radius: 0;
        transition: color .5s, background-color .5s;

        &:hover {
          background-color: white;
          color: black;
        }
      }

    }
  }
}


