= @organization.preferred_name

%br
%h3
  Sales

%ul
  - @sales.each do |sale|
    %li
      = link_to sale.name, sale
  - if current_organization == @organization
    %li
      = link_to "Create new sale", new_sale_path


%br
%h3
  Members

%ul
  - @users.each do |user|
    %li= user.name