.panel-group  
  .item-filter.panel.panel-default
    .panel-heading
      %a{ href: "#item-categories-body", data: { toggle: "collapse" } }
        Filter...
    #item-categories-body.panel-collapse.collapse
      %form.item-categories.panel-body
        - item_categories.each do |category|
          .checkbox.text-left
            %label
              %input{type: "checkbox" }="#{category}"


