%nav.navbar.navbar-default.header
  .container-fluid
    .navbar-header
      = link_to current_organization.preferred_name, current_organization, class: "navbar-brand"

    .collapse.navbar-collapse#website-header-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Home", current_organization
        %li
          = link_to "Log out", logout_path, method: "delete"