%nav.navbar.navbar-fixed-top.header
  .container
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to current_organization.primary_sale.name, current_organization.primary_sale
        %li
          = link_to "Checkout", shoppers_path(sale_id: current_organization.primary_sale.id)
        %li
          = link_to "Log out", logout_path, method: "delete"