%nav.navbar.navbar-default.navbar-fixed-top.website-header
  .container-fluid
    .navbar-header
      = link_to "Trash2Treasure", root_url, class: "navbar-brand"

    .collapse.navbar-collapse#website-header-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Log in", login_path
        %li
          = link_to "Sign up", signup_path