%nav.navbar.navbar-default.navbar-fixed-top.website-header
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: "button", "data-toggle" => "collapse", "data-target" => "#website-header-collapse", "aria-expanded" => "false" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Trash2Treasure", root_url, class: "navbar-brand"

    .collapse.navbar-collapse#website-header-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Log in", login_path
        %li
          = link_to "Sign up", signup_path